* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #feh-youtube-stats-wrapper {
        background-color: #de466c;
        border-radius: 12px;
        padding: 25px;
    }
        h1 {
            color: #fff;
            text-align: center;
            margin-bottom: 25px;
        }

        #feh-youtube-stats-wrapper > p {
            color: #fff;
            text-align: center;
            margin-bottom: 25px;
        }

        #feh-youtube-stats {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }
            .feh-stats {
                flex: 1;
                min-width: 200px;
                text-align: center;
                background: #fff;
                border-radius: 12px;
                padding: 15px;
            }
                .feh-stats h3 {
                    color: #666;
                    font-size: 15px;
                    margin-bottom: 4px;
                }
                .feh-stats p {
                    font-size: 32px;
                    font-weight: bold;
                    color: #333;
                }